{% extends 'base/index.html' %}

{% block content %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">
        Inactivar 
        {% if tipo_objeto == 'especialidad' %}
            Especialidad
        {% elif tipo_objeto == 'medico' %}
            Médico
        {% endif %}
    </h1>

    <form method="POST" class="form-inline">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                ¿Desactivar 
                                {{ obj.nombre }} 
                                {% if tipo_objeto == 'especialidad' %}
                                    (Especialidad)?
                                {% elif tipo_objeto == 'medico' %}
                                    (Médico)?
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-danger">
                                <i class="far fa-question-circle"></i> Si, Inactivar
                            </button>
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">
                                <span class="fa fa-undo"></span> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
