{% extends 'base/index.html' %}

{% block content %}
<div class="container-fluid p-0">

    {% if form.errors %}
    <div id="error-messages" style="display: none;">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    
    <h1 class="h3 mb-3">Médicos</h1>
    <form method="POST" class="form-inline">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12">
            {% if obj %}
            <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nuevo {% endif %} Medico
                            </div>   
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_identificacion">Identificación</label>
                                        <input type="text" name="identificacion" class="form-control" id="id_identificacion" placeholder="Identificación" required value="{% if obj %} {{ obj.identificacion }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_nombres">Nombres</label>
                                        <input type="text" name="nombres" class="form-control" id="id_nombres" placeholder="Nombres" required value="{% if obj %} {{ obj.nombres }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_apellidos">Apellidos</label>
                                        <input type="text" name="apellidos" class="form-control" id="id_apellidos" placeholder="Apellidos" required value="{% if obj %} {{ obj.apellidos }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_email">E-mail</label>
                                        <input type="email" name="email" class="form-control" id="id_email" placeholder="E-mail" required value="{% if obj %} {{ obj.email }} {% endif %}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">    
                                
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_telefono">Teléfono</label>
                                        <input type="text" name="telefono" class="form-control" id="id_telefono" placeholder="Teléfono" required value="{% if obj %} {{ obj.telefono }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_direccion">Dirección</label>
                                        <input type="text" name="direccion" class="form-control" id="id_direccion" placeholder="Dirección" required value="{% if obj %} {{ obj.direccion }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_ciudad_residencia">Ciudad de Residencia</label>
                                        <input type="text" name="ciudad_residencia" class="form-control" id="id_ciudad_residencia" placeholder="Ciudad de Residencia" required value="{% if obj %} {{ obj.ciudad_residencia }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_especialidad">Especialidad</label>
                                        {{ form.especialidad }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_fecha_nacimiento">Fecha de Nacimiento</label>
                                        <!--<input type="date" name="fecha_nacimiento" class="form-control" id="id_fecha_nacimiento" placeholder="Fecha de Nacimiento" required value="{% if obj %} {{ obj.form.fecha_nacimiento }} {% endif %}" max="{{ today }}">-->
                                        {{ form.fecha_nacimiento }}
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_genero">Género</label>
                                        <select name="genero" class="form-control" id="id_genero">
                                            <option value="Masculino" {% if obj.genero == 'Masculino' %} selected {% endif %}>Masculino</option>
                                            <option value="Femenino" {% if obj.genero == 'Femenino' %} selected {% endif %}>Femenino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_estado">Usuario </label>
                                        {{ form.username }}
                                    </div>
                                </div> 
                                <div class="col-12 col-lg-3">
                                    <div class="form-group">
                                        <label for="id_estado">Contraseña </label>
                                        {{ form.password }}
                                    </div>
                                </div>   
                            </div>
                            <div class="row">
                                
                                <div class="col-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="id_estado">Estado </label>
                                        <select name="estado" class="form-control" id="id_estado">
                                            <option value="True" {% if obj.estado == True %} selected {% endif %}>Activo</option>
                                            <option value="False" {% if obj.estado == False %} selected {% endif %}>Inactivo</option>
                                        </select>
                                    </div>
                                </div>  
                            </div>
                            <div class="dropdown-divider"></div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-warning"><span class="fa fa-save"></span> Guardar</button>
                                    <a href="{% url 'medical:medico_list' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var errorMessages = document.getElementById("error-messages");
        if (errorMessages) {
            var errors = errorMessages.innerHTML;
            var alertBox = document.createElement("div");
            alertBox.style.backgroundColor = "#f8d7da";
            alertBox.style.color = "#721c24";
            alertBox.style.padding = "10px";
            alertBox.style.marginBottom = "10px";
            alertBox.style.border = "1px solid #f5c6cb";
            alertBox.style.borderRadius = "5px";
            alertBox.innerHTML = errors;
            document.body.insertBefore(alertBox, document.body.firstChild);
        }
    });
</script>

{% endblock content %}