{% extends 'base/index.html' %}

{% block content %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Listado de Citas</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'citas:citas_new' %}" class="btn btn-primary"><span class="fa fa-calendar-plus"></span> Nuevo</a>
                </div>
                <div class="card-body">
                    <table id="tbl" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Especialidad</th>
                                <th>Paciente</th>
                                <th>Edad</th>
                                <th>Motivo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in obj %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.fecha|date:"d/m/Y" }}</td>
                                <td>{{i.hora}}</td>
                                <td>{{i.especialidad}}</td>
                                <td>{{i.paciente }}</td>
                                <td>{{i.edad}}</td>
                                <td>{{i.motivo}}</td>
                                <td>{{i.estado|yesno:"Activo,Inactivo"}}</td>
                                <td>
                                    {% if not item.is_staff %}
                                    <a href="{% url 'paciente:paciente_edit' i.id %}" class="btn btn-warning"> <span data-feather="edit"></span></a>
                                    <a href="{% url 'paciente:paciente_inactivate' i.id %}" class="btn btn-danger"> <span data-feather="trash-2"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#tbl').DataTable();
    });
</script>
{% endblock js %}