{% extends 'base/index.html' %}

{% block content %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Listado de Medicinas</h1>
    <form method="POST" class="form-inline">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12">
            {% if obj %}
            <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nueva {% endif %} Medicina
                            </div>    
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label for="id_nombre">Código</label>
                                        <input type="text" name="codigo" class="form-control" id="id_codigo" placeholder="Código" required value="{% if obj %} {{ obj.codigo }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label for="id_nombre">Nombre</label>
                                        <input type="text" name="nombre" class="form-control" id="id_nombre" placeholder="Nombre" required value="{% if obj %} {{ obj.nombre }} {% endif %}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label for="id_estado">Estado </label>
                                        <select name="estado" class="form-control" id="id_estado">
                                            <option value="True" {% if obj.estado == True %} selected {% endif %}>Activo</option>
                                            <option value="False" {% if obj.estado == False %} selected {% endif %}>Inactivo</option>
                                        </select>
                                    </div>
                                </div>   
                            </div>
                            <div class="dropdown-divider"></div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-warning"><span class="fa fa-save"></span> Guardar</button>
                                    <a href="{% url 'colecciones:medicina_list' %}" class="btn btn-success"><span class="fa fa-undo"></span> Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock content %}