{% extends 'base/index.html' %}

{% block content %}
<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Listado de Triajes Médicos</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'triajes:triaje_new' %}" class="btn btn-primary"><span class="fa fa-calendar-plus"></span> Nuevo</a>
                </div>
                <div class="card-body">
                    <table id="tbl" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                
                                <th>Id</th>
                                <th>F Triaje</th>
                                <th>Paciente</th>
                                <th>F_Nac</th>
                                <th>Genero</th>
                                <th>F_</th>
                                <th>F_</th>
                                <th>P_A</th>
                                <th>Temp</th>
                                <th>Oxig</th>
                                <th>Prioridad</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in obj %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.fecha_triaje|date:"d/m/Y"}}</td>
                                <td>{{ i.paciente.nombres }} {{ i.paciente.apellidos }}</td>
                                <td>{{ i.paciente.fecha_nacimiento|date:"d/m/Y" }}</td>
                                <td>{{ i.paciente.genero }}</td>
                                <td>{{ i.frecuencia_cardiaca }}</td>
                                <td>{{ i.frecuencia_respiratoria }}</td>
                                <td>{{ i.presion_arterial_min }} - {{ i.presion_arterial_max }}</td>
                                <td>{{ i.temperatura_corporal }}</td>
                                <td>{{ i.spo2 }}</td>
                                <td>{{ i.prioridad }}</td>
                                <td>{{i.estado|yesno:"Activo,Inactivo"}}</td>
                                <td>
                                    {% if not item.is_staff %}
                                    <a href="{% url 'triajes:triaje_edit' i.id %}" class="btn btn-warning"> <span data-feather="edit"></span></a>
                                    <a href="{% url 'triajes:triaje_inactivate' i.id %}" class="btn btn-danger"> <span data-feather="trash-2"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#tbl').DataTable();
    });
</script>
{% endblock js %}